/*
    File: gameBoard.css
    Author: Jacoby Oliverio

    Description: CSS file for styles of the gameboard interface.
*/


/* Text Styles */
body, input, button {
    font-family: 'Roboto', sans-serif;
}

.wordwave_logo_light {
  text-align: center;
  font-size: 30px;
  font-family: 'Lucida Handwriting';
  color:#46c87a;
  font-weight: bold;
}

/* Styling for gameboard */
#game-board {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* Styling for each row */
.row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

/* Style for each gameboard tile */
.tile {
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color: rgb(165, 168, 165);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* Styling for the guess input*/
#guess-form {
    display: flex;
    justify-content: center;
}

/* Styling for the points display under keyboard */
#points-display {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

/* Styling for button container */
#hint {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* Styling for button itself */
#hint-button {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #46c87a;
    border-color: #089541;
    border-radius: 5px;
    padding: 8px;
}

/* Styling for streak display */
.streak-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#streak-display {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #ee644c;
    border-color: #a84837;
    border-radius: 5px;
    padding: 8px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #444;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.toggle-container {
    position: fixed;
    top: 20px; 
    left: 20px;
    z-index: 1000;
  }
  
  .toggle-label {
    color: #000;
  }

  #dark-mode-label {
    display: flex;
    margin-top: 20px;
  }