/*
    File: gameBoard.css
    Author: Jacoby Oliverio

    Description: CSS file for styles of the gameboard interface.
*/


/* Text Styles */
body, input, button {
    font-family: 'Roboto', sans-serif;
}

/* Styling for gameboard */
#game-board {
    width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;
}

/* Styling for each row */
.row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

/* Style for each gameboard tile */
.tile {
    width: 50px;
    height: 50px;
    margin: 5px;
    background-color: rgb(185, 203, 186);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* Styling for the guess input*/
#guess-form {
    display: flex;
    justify-content: center;
}

/* Styling for the points display under keyboard */
#points-display {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

/* Styling for button container */
#hint {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
/* Styling for button itself */
#hint-button {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #46c87a;
    border-color: #089541;
    border-radius: 5px;
    padding: 8px;
}

/* Styling for streak display */
.streak-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#streak-display {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #ee644c;
    border-color: #089541;
    border-radius: 5px;
    padding: 8px;
}
