/*
    File: keyboard.css
    Author: Jacoby Oliverio

    Description: CSS file for styles of the dynamic keyboard interface.
*/

/* Styling for keyboard container */
#keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Styles for each row of keys */
.keyboard-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

/* Styling for each individual key */
.key {
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 20px;
    background-color: #f0f0f0;
    border: none;
    cursor: pointer;
}

.green-key {
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 20px;
    background-color: green;
    border: none;
    cursor: pointer;
}

.yellow-key {
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 20px;
    background-color: yellow;
    border: none;
    cursor: pointer;
}

.gray-key {
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 20px;
    background-color: gray;
    border: none;
    cursor: pointer;
}